<div class='row'>
  <div class='col-sm-12'>
    <%= simple_form_for [assessment.assessment_round, assessment] do |f| %>
      <% assessment.errors.full_messages.each do |msg| %>
        <%= li= msg %>
      <% end %>

      <%= f.input :score_potential, collection: Assessment::POTENTIAL_VALUES.map{|value| [value.capitalize, value]} %>
      <%= f.input :score_performance, collection: Assessment::PERFORMANCE_VALUES.map{|value| [value.capitalize, value]} %>
      <%= f.input :note %>
      <%= f.input :team_member_bamboo_id, :as => :hidden %>
      <%= f.input :assessment_round_id, :as => :hidden %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>