<div class='row'>
  <div class='col-sm-12'>
    <h3>Review Assessments for <%= @assessment_round.department %></h3>
    Team members can change box by grabbing them and droppping them on the correct box.
    Considering the round is in review stage, only the PBP can do this now.
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <div id='assessment-box'
      data-bamboo-id='<%= current_user.bamboo_id.to_s %>'
      data-reports='<%= @reports.to_json %>'
      data-assessments='<%= @assessments.to_json %>'
      data-assessment-round='<%= @assessment_round.to_json %>'
      data-excluded=<%= @excluded_team_members %>>
    </div>
  </div>
</div>
