<div class='row'>
  <div class='col-sm-12'>
    <h3><%= @assessment_round.department || @assessment_round.division %></h3>

    You can assess each team member individually by clicking the Assess link in their row.
    If you prefer the box view where you get all the selected team members, you can use
    the <%= link_to 'box view mode', assessment_round_assessments_path(@assessment_round) %>.
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Add Assessment</th>
          <th>View all assessments</th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report['fullName1'] %></td>
            <td>
              <%= link_to('Assess', new_assessment_round_assessment_path(@assessment_round.id, team_member_bamboo_id: report['id'])) %>
              <em>(<%= last_assessment_at(report['id'], @assessments) %>)</em>
            </td>
            <td>
              <%= link_to('History', user_assessments_path(team_member_bamboo_id: report['id'])) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
