<div class='row'>
  <div class='col-sm-12'>
    <ol class="dg_progress-tabs">
      <li class="highlight">Created</li>
      <li class="highlight <%= 'future' unless assessment_round.ongoing? || assessment_round.in_review? || assessment_round.closed? || assessment_round.synced? %>">Open for Assessments</li>
      <li class="highlight <%= 'future' unless assessment_round.in_review? || assessment_round.closed? || assessment_round.synced? %>">In Review</li>
      <li class="highlight <%= 'future' unless assessment_round.closed? || assessment_round.synced? %>">Confirmed</li>
      <li class="highlight <%= 'future' unless assessment_round.synced? %>">Sync to BambooHR</li>
    </ol>
  </div>
</div>

