<div class='row'>
  <div class='col-sm-12'>
    <h3><%= @assessment_round.department || @assessment_round.division %></h3>
    Read-only as it has been synced already to BambooHR.
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <div id='assessment-box'
      data-is-people-business-partner='<%= current_user.people_business_partner? %>'
      data-bamboo-id='<%= current_user.bamboo_id.to_s %>'
      data-reports='<%= @reports.to_json %>'
      data-assessments='<%= @assessments.to_json %>'
      data-assessment-round='<%= @assessment_round.to_json %>'>
    </div>
  </div>
</div>
