<div class='row'>
  <div class='col-sm-12'>
    <%= simple_form_for @assessment_round do |f| %>
      <% @assessment_round.errors.full_messages.each do |msg| %>
        <%= li= msg %>
      <% end %>

      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :due_date, as: :date, html5: true %>
      <%= f.input :promotion_planning, label: 'Enable Promotion Planning', hint: 'When you check this, you add the option to do promotion planning in the box view. Managers will be able to add a readiness time frame.' %>
      <%= f.input :succession_planning, label: 'Enable Succession Planning', hint: 'When you check this, you add the option to do succession planning in the box view. Managers will be able to add emergency contact and a readiness time frame.' %>
      <%= f.input :cut_off, as: :date, html5: true, label: 'Cut off date', hint: 'This is only needed if you want to exclude team members with a hire date after the cut off date.' %>
      <%= f.input :state, collection: AssessmentRound::EDITABLE_STATUSES.map {|value| [value.capitalize, value]} %>

      <%= f.button :submit, class: 'btn btn-success btn-md gl-button' %>
    <% end %>
  </div>
</div>
