<div class='row'>
  <div class='col-sm-12'>
    Please select the team members you want to exclude from the review. Excluding means that we won't show them in the box view.

    <br />

    Team members with assessments:
    <%= form_with(url: box_review_assessment_round_assessments_path(@assessment_round), method: :get, local: true) do %>
      <% @assessed_team_members.each do |team_member| %>
        <p><%= check_box_tag 'excluded_team_members[]',  team_member['id'] %> <%= team_member['fullName1'] %></p>
      <% end %>
      <%= submit_tag "Start Review", class: 'btn btn-success btn-md gl-button' %>
    <% end %>
  </div>
</div>

