<%= render 'timeline', assessment_round: @assessment_round %>

<div class='row'>
  <div class='col-sm-10'>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assessment round for <%= @assessment_round.department || @assessment_round.division %></h5>
        <p class="card-text">
          <div class='row'>
            <div class='col-sm-5'>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
              <%= @assessment_round.start_date %> -
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
              <%= @assessment_round.due_date %>
            </div>
            <div class='col-sm-5'>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= @assessment_round.percentage_complete %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= @assessment_round.percentage_complete %>%</div>
              </div>
              <div>Headcount: <%= @assessment_round.eligible_team_members.size %></div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class='col-sm-2'>
    <b>Actions:</b>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Edit Round', edit_assessment_round_path(@assessment_round), class: 'nav-link assessment-round-vertical-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Export Data', download_assessment_round_path(@assessment_round, format: :csv), class: 'nav-link assessment-round-vertical-link' %>
      </li>

      <% if @assessment_round.ongoing? %>
        <li class="nav-item">
          <%= link_to 'Move to Review', toggle_review_state_assessment_round_path(@assessment_round), class: 'nav-link assessment-round-vertical-link', method: :post, data: {confirm:"This will move the assessment round in the review stage. In this stage only People Business Partners can make changes to the assessments and guide the callibration meetings. Are you sure you want to move to the review stage?"} %>
        </li>
      <% end %>

      <% unless @assessment_round.synced? %>
        <li class="nav-item">
          <%= link_to 'Open box view', assessment_round_assessments_path(@assessment_round), class: 'nav-link assessment-round-vertical-link' %>
        </li>
      <% end %>

      <% if @assessment_round.in_review? %>
        <li class="nav-item">
          <%= link_to 'Open review mode', review_assessment_round_path(@assessment_round), class: 'nav-link assessment-round-vertical-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Confirm review', close_assessment_round_path(@assessment_round), class: 'nav-link assessment-round-vertical-link', method: :post, data: {confirm:"This will close the assessment round and confirm the latest assessment. Are you sure you want to do this?"} %>
        </li>
      <% end %>

      <% if @assessment_round.closed? %>
        <li class="nav-item">
          <%= link_to 'Sync to BambooHR', sync_assessment_round_path(@assessment_round), class: 'nav-link assessment-round-vertical-link', method: :post, data: {confirm:"This will move the assessment round in the review stage. In this stage only People Business Partners can make changes to the assessments and guide the callibration meetings. Are you sure you want to move to sync the data to BambooHR?"} %>
        </li>
      <% end %>

      <% if @assessment_round.synced? %>
        <li class="nav-item">
          <%= link_to 'Open box view (read only)', closed_view_assessment_round_path(@assessment_round), class: 'nav-link assessment-round-vertical-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <% if Date.current <= @assessment_round.start_date %>
      This assessment round is not open yet. You can already send out emails to the
      managers involved in this round. Here is a list of all the people managers:

      <ul>
      <% @people_managers.each do |people_manager| %>
        <li><%= people_manager['fullName1'] %> - <%= people_manager['workEmail'] %></li>
      <% end %>
    </ul>
    <% end %>

    <% if @assessment_round.ongoing? %>
      This round is currently open and managers are able to assess their team members.
      If you want to move the round to the next stage, you can click the `Move to Review`
      link on this page. In review mode, managers will no longer be able to make assessments.
    <% end %>

    <% if @assessment_round.in_review? %>
      Please schedule a meeting with the following people managers:
      <ul>
        <% @people_managers.each do |people_manager| %>
          <li><%= people_manager['fullName1'] %> - <%= people_manager['workEmail'] %></li>
        <% end %>
      </ul>

      You can use the <%= link_to 'review mode', review_assessment_round_path(@assessment_round) %>
      during your meeting to discuss the assessments with the managers.

      <br />
      <br />

      When you're done with the review, please <%= link_to 'confirm', close_assessment_round_path(@assessment_round), method: :post, data: {confirm:"This will close the assessment round and confirm the latest assessment. Are you sure you want to do this?"} %>
       it. Confirm means that we will finalize the latest
      assessments for everyone. Those are the values that will be synced to BambooHR later on.
    <% end %>

    <% if @assessment_round.closed? %>
      This round is closed. The only step left is to <%= link_to 'sync the data to BambooHR.', sync_assessment_round_path(@assessment_round), method: :post, data: {confirm:"This will move the assessment round in the review stage. In this stage only People Business Partners can make changes to the assessments and guide the callibration meetings. Are you sure you want to move to sync the data to BambooHR?"} %>
      Once synced the data can not be
      edited anymore. Make sure to double check the assessments.
    <% end %>

    <% if @assessment_round.synced? %>
      This round is closed and synced to BambooHR. If edits need to be made, they also need to
      be made on BambooHR. Contact someone from Total Rewards and People Engineering to help
      you with this step.
    <% end %>
  </div>
</div>

