
<% if open_assessment_rounds.any? %>
  <div class='row'>
    <div class='col-sm-12'>
      <% if @open_assessment_rounds.size == 1 %>
        <%= link_to "Assess your team members in #{@open_assessment_rounds.first.department || @open_assessment_rounds.first.division}", assessment_round_assessments_path(@open_assessment_rounds.first), class: 'btn btn-success btn-md gl-button' %>
      <% else %>
        <% @open_assessment_rounds.each do |round| %>
          <%= link_to "Assess your team members in #{round.department || round.division}", assessment_round_assessments_path(round), class: 'btn btn-success btn-md gl-button' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class='row'>
    <div class='col-sm-12'>
      You don't need to make any assessments at this moment. When your People Business Partner starts a new assessment round, they will notify you about this.
    </div>
  </div>
<% end %>



