<div class='row'>
  <div class='col-sm-12'>
    <h4>What is a talent assessment?</h4>
    <div>
      A Talent Assessment enables us to:
      <ul>
        <li>
          Regularly and consistently review and discuss talent in a meaningful and productive way, using common criteria and a standard tool
        </li>
        <li>
          Engage managers at all levels and drive manager accountability with respect to talent management
        </li>
        <li>
          Leverage consistent and reliable data for all types of people-related decisions including promotions, transfers, rotations, succession plans, retention, compensation, professional development/investment, mentoring, etc.
        </li>
      </ul>
    </div>
  </div>
</div>