<div class='row'>
  <div class='col-sm-12'>
    <%= @content.html_safe %>
  </div>
</div>

<% if current_user.people_business_partner? %>
  <div class='row'>
    <div class='col-sm-12'>
      <%= link_to 'Go to Dashboard', dashboard_path, class: 'btn btn-info gl-button' %>
    </div>
  </div>
<% end %>


<% if current_user.has_reports? %>
  <%= render 'user_with_reports', open_assessment_rounds: @open_assessment_rounds %>
<% end %>
