<% if @assessments.none? %>
  <div class='row'>
    <div class='col-sm-12'>
      <%= @assessment_for['fullName1'] %> has not received any assessments yet.
    </div>
  </div>
<% else %>
  <h1>All the assessments for <%= @assessment_for['fullName1'] %></h1>
  <div class='row'>
    <div class='col-sm-12'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Score</th>
            <th>Note</th>
            <th>Given by</th>
            <th>Confirmed</th>
          </tr>
        </thead>

        <tbody>
          <% @assessments.each do |assessment| %>
            <tr>
              <td><%= score(assessment)  %></td>
              <td><%= assessment.note  %></td>
              <td><%= given_by(assessment.given_by, assessment.team_member_bamboo_id)  %></td>
              <td><%= assessment.confirmed_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
