<template>
  <section>
    <div>
      <input id="toggleShowGenderData" v-model="showGenderData" type="checkbox">
      <label for="toggleShowGenderData">Show male vs non-male</label>
      |
      <input id="togglePercentages" v-model="showPercentages" type="checkbox">
      <label for="togglePercentages">Use Percentages</label>
      |
      <input id="toggleRegions" v-model="showRegions" type="checkbox">
      <label for="toggleRegions">Show Regions</label>
    </div>
    <div v-if="parsedAssessments.length">
      <div class='row'>
        <div class='col-sm-6'>
          <chart-container :data=potentialChartData :show-gender-data="showGenderData" :show-percentages="showPercentages" :show-regions="showRegions" title="Potential" />
        </div>
        <div class='col-sm-6'>
          <chart-container :data=performanceChartData :show-gender-data="showGenderData" :show-percentages="showPercentages" :show-regions="showRegions" title="Performance" />
        </div>
      </div>
      <chart-container :data=assessmentChartData :show-gender-data="showGenderData" :show-percentages="showPercentages" :show-regions="showRegions" title="Potential/Performance" />

    </div>
  </section>
</template>

<script>
import ChartContainer from "./charts/chart_container.vue";

export default {
  name: 'AssessmentSummary',
  components: {
    ChartContainer
  },
  props: {
    assessments: {
      type: String,
      required: true
    },
    reports: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      parsedAssessments: [],
      parsedUsers: [],
      showGenderData: false,
      showRegions: false,
      showPercentages: false,
    }
  },
  computed: {
    potentialChartData() {
      return {
        labels: ['Low', 'Medium', 'High'],
        datasets: [
          {
            label: 'Number of team members',
            data: [
              this.parsedAssessments.filter(assessment => assessment.potential === 'low'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'medium'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'high')
            ]
          }
        ]
      }
    },
    performanceChartData() {
      return {
        labels: ['Developing', 'Performing', 'Exceeding'],
        datasets: [
          {
            label: 'Number of team members',
            data: [
              this.parsedAssessments.filter(assessment => assessment.performance === 'developing'),
              this.parsedAssessments.filter(assessment => assessment.performance === 'performing'),
              this.parsedAssessments.filter(assessment => assessment.performance === 'exceeding')
            ]
          }
        ]
      }
    },
    assessmentChartData() {
      return {
        labels: [
          'Low/Developing', 'Low/Performing', 'Low/Exceeding',
          'Medium/Developing', 'Medium/Performing', 'Medium/Exceeding',
          'High/Developing', 'High/Performing', 'High/Exceeding'
        ],
        datasets: [
          {
            label: 'Number of team members',
            data: [
              this.parsedAssessments.filter(assessment => assessment.potential === 'low' && assessment.performance === 'developing'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'low' && assessment.performance === 'performing'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'low' && assessment.performance === 'exceeding'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'medium' && assessment.performance === 'developing'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'medium' && assessment.performance === 'performing'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'medium' && assessment.performance === 'exceeding'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'high' && assessment.performance === 'developing'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'high' && assessment.performance === 'performing'),
              this.parsedAssessments.filter(assessment => assessment.potential === 'high' && assessment.performance === 'exceeding'),
            ]
          }
        ]
      }
    }
  },
  mounted() {
    this.setData()
  },
  methods: {
    setData() {
      this.parsedUsers = JSON.parse(this.reports)
      this.parsedAssessments = JSON.parse(this.assessments).map(assessment => {
        const user = this.lookupUser(assessment.team_member_bamboo_id.toString())
        return {
          performance: assessment.score_performance || null,
          potential: assessment.score_potential || null,
          startDate: user.hireDate,
          male: user.gender === 'Male',
          region: user.customRegion
        }
      })
    },
    lookupUser(userId) {
      const user = this.parsedUsers.find(report => {
        return report.id === userId
      });

      return user || {gender: 'Unknown', hireDate: null, region: null}
    },
  }
}
</script>