<template>
  <section>
    <filters v-if="users.length" :users="users" :supervisor-id="bambooId" :in-review="review" :people-business-partner="isPeopleBusinessPartner" @users-changed="setUsers" />
    <hr>

    <b-alert v-model="showSaveSuccess" variant="success" dismissible>
      Assessments were successfully {{successVerb}}
    </b-alert>

    <b-alert v-model="showSaveError" variant="warning" dismissible>
      Something went wrong while {{errorVerb}} the assessments. Please try again.
    </b-alert>

    <div class='row'>
      <div class='col-sm-3' style="max-height: 90vh; overflow: scroll">
        <div>
          <div class='text-center'><b>Eligible Team Members</b></div>
          <div v-if="needAssessments.length == 0" class='text-center'>
            <em>There is nobody left to assess.</em>
          </div>
          <draggable class="list-group" :list="needAssessments" group="people" :emptyInsertThreshold="100" :options="{disabled : isClosedRound}" @change="boxChanged($event, null, null)">
            <div
              v-for="(element) in needAssessments"
              :key="element.name"
              :class="element.region"
              class="list-group-item"
            >
              <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
            </div>
          </draggable>
        </div>

        <div v-if="newHires.length">
          <div class='text-center'><b>New hires (started in the last 90 days)</b></div>
          <draggable class="list-group" :list="newHires" group="people" :emptyInsertThreshold="100" :options="{disabled : isClosedRound}" @change="boxChanged($event, null, null)" >
            <div
              v-for="(element) in newHires"
              :key="element.name"
              :class="element.region"
              class="list-group-item"
            >
              <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
            </div>
          </draggable>
        </div>

        <div v-if="cutOffTeamMembers.length">
          <div class='text-center'>
            <b>Excluded from the Assessment Round</b>
            <span id="tooltip-cutoff">?</span>
            <b-tooltip target="tooltip-cutoff" triggers="hover">
              These team members are excluded from the assessment round because their start date is after {{parsedAssessmentRound.cut_off}}.
            </b-tooltip>
          </div>
          <div
            v-for="(element) in cutOffTeamMembers"
            :key="element.name"
            :class="element.region"
            class="list-group-item"
          >
            <box-element :element="element" :succession-planning="false"  :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
          </div>
        </div>

        <div v-if="excludedTeamMembers.length && review">
          <div class='text-center'>
            <b>Excluded Team Members</b>
            <span id="tooltip-excluded">?</span>
            <b-tooltip target="tooltip-excluded" triggers="hover">
              These team members might have gotten an assessment but are not shown here because the PBP decided to exclude them from the view.
            </b-tooltip>
          </div>
          <draggable class="list-group" :list="excludedTeamMembers" group="people" :emptyInsertThreshold="100" :options="{disabled : isClosedRound}" @change="boxChanged($event, null, null)" >
            <div
              v-for="(element) in excludedTeamMembers"
              :key="element.name"
              :class="element.region"
              class="list-group-item"
            >
              <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
            </div>
          </draggable>
        </div>
      </div>

      <div class='col-sm-9'>
        <table class='table table-bordered'>
          <tbody>
            <tr class='d-flex'>
              <th class='col-2'>Exceeding</th>
              <td class='col-3'>
                <cell-tooltip v-if="config" number="five" :config="config" />
                <draggable class="list-group" :list="highPerformanceLow" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'exceeding', 'low')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in highPerformanceLow"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
              <td class='col-3'>
                <cell-tooltip v-if="config" number="two" :config="config" />
                <draggable class="list-group" :list="highPerformanceMedium" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'exceeding', 'medium')" :emptyInsertThreshold="75"   >
                  <div
                    v-for="(element) in highPerformanceMedium"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>

              <td class='col-4'>
                <cell-tooltip v-if="config" number="one" :config="config" />
                <draggable class="list-group" :list="highPerformanceHigh" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'exceeding', 'high')" :emptyInsertThreshold="75"   >
                  <div
                    v-for="(element) in highPerformanceHigh"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
            </tr>

            <tr class='d-flex'>
              <th class='col-2'>Performing</th>
              <td class='col-3'>
                <cell-tooltip v-if="config" number="seven" :config="config" />
                <draggable class="list-group" :list="expectationsPerformanceLow" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'performing', 'low')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in expectationsPerformanceLow"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
              <td class='col-3'>
                <cell-tooltip v-if="config" number="four" :config="config" />
                <draggable class="list-group" :list="expectationsPerformanceMedium" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'performing', 'medium')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in expectationsPerformanceMedium"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
              <td class='col-4'>
                <cell-tooltip v-if="config" number="three" :config="config" />
                <draggable class="list-group" :list="expectationsPerformanceHigh" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'performing', 'high')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in expectationsPerformanceHigh"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
            </tr>

            <tr class='d-flex'>
              <th class='col-2'>Developing</th>
              <td class='col-3'>
                <cell-tooltip v-if="config" number="nine" :config="config" />
                <draggable class="list-group" :list="underperformanceLow" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'developing', 'low')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in underperformanceLow"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
              <td class='col-3'>
                <cell-tooltip v-if="config" number="eight" :config="config" />
                <draggable class="list-group" :list="underperformanceMedium" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'developing', 'medium')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in underperformanceMedium"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
              <td class='col-4'>
                <cell-tooltip v-if="config" number="six" :config="config" />
                <draggable class="list-group" :list="developingPerformanceHigh" group="people" :options="{disabled : isClosedRound}" @change="boxChanged($event, 'developing', 'high')" :emptyInsertThreshold="75"  >
                  <div
                    v-for="(element) in developingPerformanceHigh"
                    :key="element.name"
                    :class="element.region"
                    class="list-group-item"
                  >
                    <box-element :element="element" :succession-planning="successionPlanning" :promotion-planning="promotionPlanning" :closed-round="isClosedRound" @element-changed="elementChanged" />
                  </div>
                </draggable>
              </td>
            </tr>

            <tr class='d-flex'>
              <td class='col-2'>
                <span>Performance↑</span>
                <br />
                <span>Potential→</span>
              </td>
              <th class='col-3'>Low</th>
              <th class='col-3'>Medium</th>
              <th class='col-4'>High</th>
            </tr>

          </tbody>
        </table>
        <div class='row'>
          <div class=col-sm-8>
            Legend:
            <ul>
              <li class='Americas'>Americas</li>
              <li class='JAPAC'>JAPAC</li>
              <li class='EMEA'>EMEA</li>
              <span v-if='successionPlanning'>
                <li>EC: Emergency Contact</li>
                <li>RN: Within 6 months</li>
                <li>R1: Within 12 months</li>
                <li>R1+: After 12-24 months</li>
              </span>
              <span v-if='promotionPlanning'>
                <li>PRN: Within 3 months</li>
                <li>PR6: Within 6 months</li>
                <li>PR12: Within 12 months</li>
                <li>PR12+: More than 12 months away</li>
              </span>
            </ul>
          </div>
          <div v-if="!isClosedRound" class='col-sm-4 text-right'>
            <button class='btn btn-primary' :disabled="!needSave" @click="save">Save</button>
          </div>
        </div>

        <div class='row'>
          <div class='col-sm-8'>
            <box-spread v-if="review"
              :developing-count="developingPerformanceCount"
              :performing-count="performingPerformanceCount"
              :exceeding-count="exceedingPerformanceCount"
              :total-reports-count="totalReportsCount"
            />
          </div>
        </div>
      </div>

    </div>
  </section>

</template>
<script>
import draggable from "vuedraggable";
import Filters from "./box_filters.vue";
import CellTooltip from "./cell_tooltip.vue";
import BoxElement from "./box_element.vue";
import BoxSpread from "./box_spread.vue";

import config from "../../data/boxes_config.yml"

export default {
  name: "AssessmentBox",
  components: {
    draggable,
    Filters,
    CellTooltip,
    BoxElement,
    BoxSpread
  },
  props: {
    reports: {
      type: String,
      required: true
    },
    assessments: {
      type: String,
      required: true
    },
    bambooId: {
      type: String,
      required: true
    },
    assessmentRound: {
      type: String,
      required: true
    },
    excluded: {
      type: String,
      required: false,
      default: ''
    },
    isPeopleBusinessPartner: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      users: [],
      changesHappened: false,
      showSaveSuccess: false,
      showSaveError: false,
      successVerb: false,
      errorVerb: false,
      cutoffDate: null,
      filteredUsers: [],
      config: null,
      regions: ['Americas', 'EMEA', 'JAPAC'],
      parsedExcluded: [],
      successionPlanning: false,
      promotionPlanning: false,
      review: false,
      assessmentRoundId: null,
      newHireDate: null,
      functionalLead: null,
      parsedAssessmentRound: null
    };
  },
  computed: {
    isClosedRound() {
      return (this.parsedAssessmentRound && this.parsedAssessmentRound.state === 'synced')
    },
    needSave() {
      return (this.changesHappened &&  this.needAssessments.length !== this.users.length)
    },
    underperformanceLow() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'developing' && user.potential === 'low')))
    },
    underperformanceMedium() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'developing' && user.potential === 'medium')))
    },
    developingPerformanceHigh() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'developing' && user.potential === 'high')))
    },
    expectationsPerformanceLow() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'performing' && user.potential === 'low')))
    },
    expectationsPerformanceMedium() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'performing' && user.potential === 'medium')))
    },
    expectationsPerformanceHigh() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'performing' && user.potential === 'high')))
    },
    highPerformanceLow() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'exceeding' && user.potential === 'low')))
    },
    highPerformanceMedium() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'exceeding' && user.potential === 'medium')))
    },
    highPerformanceHigh() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance === 'exceeding' && user.potential === 'high')))
    },
    needAssessments() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance == null && user.potential === null && !this.isNewHire(user) && !this.isCutOff(user) && this.functionalLead !== user.id && !this.parsedExcluded.includes(user.id))))
    },
    newHires() {
      return this.sortArrayByName(this.filteredUsers.filter(user => (user.performance == null && user.potential === null && this.isNewHire(user) && !this.isCutOff(user) && !this.parsedExcluded.includes(user.id))))
    },
    excludedTeamMembers() {
      return this.sortArrayByName(this.filteredUsers.filter(user => this.parsedExcluded.includes(user.id)))
    },
    cutOffTeamMembers() {
      return this.sortArrayByName(this.filteredUsers.filter(user => this.isCutOff(user)))
    },
    developingPerformanceCount() {
      return this.filteredUsers.filter(user => user.performance === 'developing').length
    },
    performingPerformanceCount() {
      return this.filteredUsers.filter(user => user.performance === 'performing').length
    },
    exceedingPerformanceCount() {
      return this.filteredUsers.filter(user => user.performance === 'exceeding').length
    },
    totalReportsCount() {
      return this.filteredUsers.filter(user => !this.parsedExcluded.includes(user.id) && this.functionalLead !== user.id).length
    },
    filteredUsersWithAssessments() {
      return this.filteredUsers.filter(user => user.performance !== null || user.potential !== null || user.emergencyContact !== null)
    }
  },
  mounted() {
    this.setData()
  },
  methods: {
    isNewHire(user) {
      const startDate = Date.parse(user.startDate)
      return this.newHireDate < startDate
    },
    isCutOff(user) {
      const startDate = Date.parse(user.startDate)
      return this.cutoffDate < startDate
    },
    sortArrayByName(array) {
      return array.sort((nameOne, nameTwo) => {
        if (nameOne.name < nameTwo.name) {
          return -1;
        }
        if (nameOne.name > nameTwo.name) {
          return 1;
        }
        return 0
      })
    },
    setData() {
      // set all users
      this.users = JSON.parse(this.reports).map(report => {
        const assessment = this.lookupAssessment(report.id)

        return {
          name: `${(report.preferredName || report.firstName)} ${(report.customPreferredLastName || report.lastName)}`,
          id: report.id,
          performance: assessment.score_performance || null,
          potential: assessment.score_potential || null,
          supervisor: report.supervisorEId,
          department: report.department,
          division: report.division,
          role: report.jobTitle,
          assessment_id: assessment.id || null,
          startDate: report.hireDate,
          region: report.customRegion,
          readyWhen: assessment.time_frame || null,
          readyForPromotion: assessment.time_frame_promotion || null,
          emergencyContact: assessment.emergency_contact || null,
          previousPerformanceRating: report['4649.0'] || 'N/A',
          previousPotentialRating: report['4643.0'] || 'N/A',
          note: assessment.note
        }
      });

      this.filteredUsers = this.users

      this.newHireDate = new Date();
      this.newHireDate.setDate(this.newHireDate.getDate() - 90);

      this.config = config.boxes
      if (this.isJsonString(this.excluded)) {
        this.parsedExcluded = JSON.parse(this.excluded)
      }
      else {
        this.parsedExcluded = []
      }

      const parsedAssessmentRound = JSON.parse(this.assessmentRound)
      this.assessmentRoundId = parsedAssessmentRound.id
      this.review = parsedAssessmentRound.state === 'in_review'
      this.successionPlanning = (parsedAssessmentRound.succession_planning && parsedAssessmentRound.state !== 'synced')
      this.promotionPlanning = (parsedAssessmentRound.promotion_planning && parsedAssessmentRound.state !== 'synced')
      this.cutoffDate = Date.parse(parsedAssessmentRound.cut_off)
      this.functionalLead = parsedAssessmentRound.functional_lead_id.toString()
      this.parsedAssessmentRound = parsedAssessmentRound
    },
    boxChanged(event, performance, potential) {
      this.changesHappened = true;
      if (event.added) {
        const userId = event.added.element.id
        const user = this.lookupUser(userId)
        user.performance = performance
        user.potential = potential
      }
    },
    elementChanged() {
      this.changesHappened = true
    },
    isJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },
    lookupUser(userBambooId) {
      return this.users.find(function (user) {
        return user.id === userBambooId;
      });
    },
    lookupAssessment(bambooId) {
      const assessment = JSON.parse(this.assessments).find(assessment => {
        return assessment.team_member_bamboo_id.toString() === bambooId
      });

      return assessment || {potential: null, performance: null, id: null}
    },
    async save() {
      if (!this.changesHappened) {
        return null // there's nothing to save
      }

      // fetch all the users and send them to the controller
      // /assessments/update_box_view
      // TODO: add try catch to fetch error
      const result = await fetch(`/assessment_rounds/${this.assessmentRoundId}/assessments/update_box_view`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({reports: this.filteredUsersWithAssessments, assessmentRound: this.assessmentRoundId})
      })

      if (result.status !== 200) {
        this.showSaveError = true
        this.errorVerb = 'saving'
      }
      else {
        this.changesHappened = false;
        this.showSaveSuccess = true
        this.successVerb = 'saved'
      }
    },
    setUsers(users) {
      this.filteredUsers = users
    }
  }
}
</script>
