<template>
  <section @mouseover="hover = true"
      @mouseleave="hover = false">
    <span>
      {{ element.name }}
      <span v-if='element.emergencyContact && successionPlanning'>- EC</span>
      <span v-if="element.readyWhen">- {{element.readyWhen}}</span>
      <span v-if="element.readyForPromotion">- {{element.readyForPromotion}}</span>
      <b-icon v-if='hover && modalEnabled' icon="plus-circle-fill" @click="$bvModal.show(element.id)"/>
      <b-icon v-if='hover' icon="info-circle" @click="$bvModal.show(informationId)"/>
      <b-icon v-if='hover && currentAssessmentIsDifferentWithPreviousOne' icon="exclamation-circle-fill" />
    </span>

    <b-modal :id="informationId" :title="informationTitle">
      <ul>
        <li>Start date: {{ element.startDate }}</li>
        <li>Job title: {{ element.role }}</li>
        <li>BambooHR Profile: <b-link :href="bambooProfileLink">URL</b-link></li>
        <li>Previous Performance Rating: {{ element.previousPerformanceRating }}</li>
        <li>Previous Potential Rating: {{ element.previousPotentialRating }}</li>
      </ul>

      <div v-if="!closedRound">
        <hr />
        <h5>Add a note to the assessment:</h5>
        <b-form>
          <b-form-textarea
            id="textarea"
            v-model="element.note"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          />
        </b-form>
      </div>
    </b-modal>

    <b-modal v-if='successionPlanning || promotionPlanning' :id="element.id" :title="title">
      <div v-if='successionPlanning'>
        <b-form-group label="Will be ready for succession:">
          <b-form-radio v-model="element.readyWhen" name="ready-when-sp" value="RN">Within 6 months</b-form-radio>
          <b-form-radio v-model="element.readyWhen" name="ready-when-sp" value="R1">Within 12 months</b-form-radio>
          <b-form-radio v-model="element.readyWhen" name="ready-when-sp" value="R1+">After 12-24 months</b-form-radio>
        </b-form-group>

        <div>
          <b-col sm="5">
            <label for="emergencyContact">Emergency Contact</label>
          </b-col>
          <b-col sm="5">
            <b-form-input id="emergencyContact" v-model="element.emergencyContact" type="text"/>
          </b-col>
        </div>

        <hr v-if="promotionPlanning" />
      </div>

      <div v-if='promotionPlanning'>
        <b-form-group label="Will be ready for promotion:">
          <b-form-radio v-model="element.readyForPromotion" name="ready-when-pp" value="PRN">Within 3 months</b-form-radio>
          <b-form-radio v-model="element.readyForPromotion" name="ready-when-pp" value="PR6">Within 6 months</b-form-radio>
          <b-form-radio v-model="element.readyForPromotion" name="ready-when-pp" value="PR12">Within 12 months</b-form-radio>
          <b-form-radio v-model="element.readyForPromotion" name="ready-when-pp" value="PR12+">More than 12 months away</b-form-radio>
        </b-form-group>
      </div>

    </b-modal>
  </section>
</template>

<script>
export default {
  name: "BoxElement",
  props: {
    element: {
      type: Object,
      required: true
    },
    successionPlanning: {
      type: Boolean,
      required: true
    },
    promotionPlanning: {
      type: Boolean,
      required: true
    },
    closedRound: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      hover: false
    }
  },
  computed: {
    title() {
      if (this.successionPlanning && this.promotionPlanning) {
        return 'Promotion and Succesion Planning'
      }
      if (this.successionPlanning) {
        return 'Succesion Planning'
      }
      return 'Promotion Planning'
    },
    informationTitle() {
      return `Details for ${this.element.name}`
    },
    informationId() {
      return `info-${this.element.id}`
    },
    modalEnabled() {
      return (this.successionPlanning || this.promotionPlanning)
    },
    bambooProfileLink() {
      return `https://gitlab.bamboohr.com/employees/employee.php?id=${this.element.id}`
    },
    currentAssessmentIsDifferentWithPreviousOne() {
      if (this.element.performance === 'N/A' && this.element.potential === 'N/A') {
        return false
      }
      return (this.element.previousPerformanceRating !== this.element.performance || this.element.previousPotentialRating !== this.element.potential)
    }
  },
  watch: {
    element: {
      deep: true,
      handler() {
        this.$emit('element-changed')
      }
    }
  }
}
</script>