<template>
  <section>
    <table class='table table-bordered table-sm'>
      <thead>
        <td>Performance Axis</td>
        <td>Recommended Target</td>
        <td>Actual</td>
      </thead>
      <tbody>
        <tr>
          <th>Exceeding</th>
          <td>Up to 25%</td>
          <td>{{exceedingPercentage}}%</td>
        </tr>
        <tr>
          <th>Performing</th>
          <td>Up to 65%</td>
          <td>{{performingPercentage}}%</td>
        </tr>
        <tr>
          <th>Developing</th>
          <td>10 to 15%</td>
          <td>{{developingPercentage}}%</td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
export default {
  name: 'BoxSpread',
  props: {
    developingCount: {
      type: Number,
      required: true
    },
    performingCount: {
      type: Number,
      required: true
    },
    exceedingCount: {
      type: Number,
      required: true
    },
    totalReportsCount: {
      type: Number,
      required: true
    }
  },
  computed: {
    developingPercentage() {
      return (this.developingCount / this.totalReportsCount * 100).toFixed(2)
    },
    performingPercentage() {
      return (this.performingCount / this.totalReportsCount * 100).toFixed(2)
    },
    exceedingPercentage() {
      return (this.exceedingCount / this.totalReportsCount * 100).toFixed(2)
    }
  }
}
</script>