<template>
  <section>
    <div class='row'>
      <div class='col-sm-12'>
        <b>Filters:</b>
        <input id="reportsCheckbox" v-model="directReportsOnly" type="checkbox">
        <label for="reportsCheckbox">Direct Reports Only</label>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <select-filter class='js-divisions' :collection="divisions" title="Divisions" @select-change="selectedDivision = $event"/>
        <select-filter class='js-departments' :collection="departments" title="Departments" @select-change="selectedDepartment = $event"/>
        <select-filter class='js-roles' :collection="roles" title="Roles" @select-change="selectedRole = $event"/>
        <select-filter class='js-teams' :collection="teams" title="Teams" @select-change="selectedTeam = $event"/>
      </div>
    </div>
  </section>
</template>

<script>
import SelectFilter from "./select_filter.vue";

export default {
  name: 'BoxFilters',
  components: {
    SelectFilter
  },
  props: {
    users: {
      type: Array,
      required: true
    },
    // this is the current user's bamboo id
    supervisorId: {
      type: String,
      required: true
    },
    inReview: {
      type: Boolean,
      required: true
    },
    peopleBusinessPartner: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      directReportsOnly: false,
      selectedDivision: null,
      selectedDepartment: null,
      selectedRole: null,
      selectedTeam: null
    }
  },
  computed: {
    filteredUsers() {
      let tempUsers = this.users

      if (this.directReportsOnly) {
        tempUsers = tempUsers.filter(user => user.supervisor === this.supervisorId)
      }
      if (this.selectedDivision) {
        tempUsers = tempUsers.filter(user => user.division === this.selectedDivision)
      }
      if (this.selectedDepartment) {
        tempUsers = tempUsers.filter(user => user.department === this.selectedDepartment)
      }
      if (this.selectedRole) {
        tempUsers = tempUsers.filter(user => user.role === this.selectedRole)
      }
      if (this.selectedTeam) {
        tempUsers = tempUsers.filter(user => user.supervisor === this.selectedTeam)
      }

      return tempUsers;
    },
    roles() {
      const allRoles = this.filteredUsers.map(user => user.role)
      return allRoles.filter((item, index) => allRoles.indexOf(item) === index).sort()
    },
    divisions() {
      const allDivisions = this.users.map(user => user.division)
      return allDivisions.filter((item, index) => allDivisions.indexOf(item) === index).sort()
    },
    departments() {
      const allDepartments = this.filteredUsers.map(user => user.department)
      return allDepartments.filter((item, index) => allDepartments.indexOf(item) === index).sort()
    },
    teams() {
      const allTeams = []
      this.filteredUsers.forEach(user => {
        const manager = this.findManager(user.supervisor)

        if (manager && manager.role) {
          allTeams.push({value: user.supervisor, text: `${manager.name} - ${manager.role}`})
        }
      })
      return this.sortArrayByText(this.removeDuplicates(allTeams, 'value'))
    }
  },
  watch: {
    filteredUsers() {
      this.$emit('users-changed', this.filteredUsers)
    }
  },
  mounted() {
    this.setData()
  },
  methods: {
    setData() {
      this.directReportsOnly = !this.inReview && !this.peopleBusinessPartner
    },
    findManager(id) {
      return this.users.find(user => {
        return user.id === id;
      });
    },
    removeDuplicates(originalArray, prop) {
      const lookupObject  = {}

      originalArray.forEach((value, index) => {
        lookupObject[originalArray[index][prop]] = originalArray[index]
      })

      return Object.values(lookupObject)
    },
    sortArrayByText(array) {
      return array.sort((nameOne, nameTwo) => {
        if (nameOne.text < nameTwo.text) {
          return -1;
        }
        if (nameOne.text > nameTwo.text) {
          return 1;
        }
        return 0
      })
    },
  }
}
</script>