<template>
  <section>
    <span :id=number>{{display}}</span>
    <b-tooltip :target=number triggers="hover">
      <h4>{{title}}</h4>
      {{content}}
    </b-tooltip>
  </section>
</template>

<script>
export default {
  name: 'CellTooltip',
  props: {
    number: {
      type: String,
      required: true
    },
    config: {
      type: Object,
      required: true
    }
  },
  computed: {
    title() {
      return this.config[this.number].title
    },
    content() {
      return this.config[this.number].content
    },
    display() {
      return this.config[this.number].display
    }
  },
}
</script>