<template>
  <span v-if="collection">
    <b>{{title}}</b>
    <b-form-select v-model="selected" class='col-sm-2' :options="collection"/>
    <b-icon v-if="selected" icon="x-circle" @click="removeSelected()"/>
  </span>
</template>

<script>
  export default {
    name: 'SelectFilter',
    props: {
      collection: {
        type: Array,
        required: true
      },
      title: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        selected: null
      }
    },
    watch: {
      selected() {
        this.$emit('select-change', this.selected)
      }
    },
    methods: {
      removeSelected() {
        this.selected = null
      }
    }
  }
</script>