<template>
  <div v-if="data">
    <h4>{{title}}</h4>
    <bar-chart :chart-data=calculatedData :options=chartOptions />
  </div>
</template>

<script>
import BarChart from "./bar_chart.vue";

export default {
  name: 'ChartContainer',
  components: {
    BarChart
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    showGenderData: {
      type: Boolean,
      required: true
    },
    showPercentages: {
      type: Boolean,
      required: true
    },
    showRegions: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      chartOptions: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1,
            },
            minBarLength: 3
          }]
        },
        responsive: true,
        maintainAspectRatio: false,
      }
    }
  },
   computed: {
    calculatedData() {
      const newData = {... this.data}
      if (this.showGenderData) {
        newData.datasets = this.calculateGenderedData(newData.datasets)
      }

      if (this.showRegions) {
        newData.datasets = this.calculateRegionData(newData.datasets)
      }

      newData.datasets = this.morphToLengths(newData.datasets)
      if (this.showPercentages) {
        newData.datasets = this.calculateWithPercentage(newData.datasets)
      }
      return newData
    }
  },
  methods: {
    calculateGenderedData(datasets) {
      const newDatasets = []

      datasets.forEach(dataset => {
        const maleDatasets = []
        const nonMaleDatesets = []

        dataset.data.forEach(rawData => {
          const maleData = rawData.filter(value => value.male)
          maleDatasets.push(maleData)
          const nonMaleData = rawData.filter(value => !value.male)
          nonMaleDatesets.push(nonMaleData)
        })

        const newDatasetMale = {
          backgroundColor: '#e9be74',
          label: dataset.label.replace('of team', 'of male team'),
          data: maleDatasets
        }
        newDatasets.push(newDatasetMale)

        const newDatasetNonMale = {
          label: dataset.label.replace('of team', 'of non-male team'),
          backgroundColor: '#ac93e6',
          data: nonMaleDatesets
        }
        newDatasets.push(newDatasetNonMale)
      })

      return newDatasets
    },
    calculateRegionData(datasets) {
      const newDatasets = []

      datasets.forEach(dataset => {
        const americaDatasets = []
        const emeaDatasets = []
        const japacDatasets = []

        dataset.data.forEach(rawData => {
          const americaData = rawData.filter(value => value.region === 'Americas')
          americaDatasets.push(americaData)
          const emeaData = rawData.filter(value => value.region === 'EMEA')
          emeaDatasets.push(emeaData)
          const japacData = rawData.filter(value => value.region === 'JAPAC')
          japacDatasets.push(japacData)
        })

        const newDatasetAmerica = {
          backgroundColor: '#e9be74',
          label: dataset.label.replace('members', 'members in Americas'),
          data: americaDatasets
        }
        newDatasets.push(newDatasetAmerica)

        const newDatasetEmea = {
          label: dataset.label.replace('members', 'members in EMEA'),
          backgroundColor: '#ac93e6',
          data: emeaDatasets
        }
        newDatasets.push(newDatasetEmea)

        const newDatasetJapac = {
          label: dataset.label.replace('members', 'members in JAPAC'),
          backgroundColor: '#421f00',
          data: japacDatasets
        }
        newDatasets.push(newDatasetJapac)
      })

      return newDatasets
    },
    morphToLengths(datasets) {
      return datasets.map(dataset => {
        const newDataset = {
          backgroundColor: dataset.backgroundColor || '#e9be74',
          label: dataset.label,
          data: dataset.data.map(value => (value.length))
        }
        return newDataset
      })
    },
    calculateWithPercentage(datasets) {
      return datasets.map(dataset => {
        const sumOfEntries = dataset.data.reduce((accumulator, currentValue) => accumulator + currentValue, 0)
        const newDataset = {
          backgroundColor: dataset.backgroundColor,
          label: dataset.label.replace('Number', 'Percentage'),
          data: dataset.data.map(value => (value / sumOfEntries * 100).toFixed(2))
        }
        return newDataset
      })
    }
  }
}
</script>
