@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import 'bootstrap-vue/dist/bootstrap-vue.css';

@import '~@gitlab/ui/src/scss/variables';
@import '~@gitlab/ui/src/scss/functions';
@import '~@gitlab/ui/src/scss/mixins';
@import '~@gitlab/ui/src/scss/utility-mixins';
@import '~@gitlab/ui/src/scss/components';


.bg-info {
  background-color: $purple-500 !important;
}
.ie-main {
  padding: 3rem 1.5rem;
}

.row {
  margin-bottom: 15px;
}

.text-info {
  color: $blue-500 !important;
}

.list-group {
  min-height: 150px;
  min-width: 100px;
}

.Americas {
  color: $orange-400
}

.JAPAC {
  color: $orange-950
}

.EMEA {
  color: $purple-500
}