<div style="padding: 20px">
  <h1>Export Assessment Rounds</h1>
  <div>
    <%= form_with(url: download_admin_total_rewards_path(format: :csv), method: :get, local: true) do %>
      <% @assessment_rounds.each do |round| %>
        <p>
          <%= check_box_tag 'rounds[]',  round.id %> <%= round.department || round.division %>
          (Created: <%= round.created_at.strftime('%Y-%m-%d') %>)
        </p>
      <% end %>
      <%= submit_tag "Export Data", class: 'btn btn-success btn-md gl-button' %>
    <% end %>
  </div>
</div>
