<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mb-0 h1 text-light" href='/'>GitLab Assessments</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown my-2 my-lg-0">
          <a class="text-light nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'About', about_path, class: 'dropdown-item' %>
            <% if current_user.people_business_partner? %>
              <%= link_to 'Dashboard', dashboard_path, class: 'dropdown-item' %>
            <% end %>

            <% if current_user.admin? %>
              <%= link_to 'Admin', admin_root_path, class: 'dropdown-item' %>
            <% end %>

            <% if current_user.total_rewards? %>
              <%= link_to 'Total Rewards', admin_total_rewards_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      </ul>
    <% else %>
      <li class='nav-item'>
          <%= link_to('Login', new_user_session_path, class: 'nav-link text-light') %>
        </li>
    <% end %>
  </div>
</nav>
