<!DOCTYPE html>
<html>
  <head>
    <title>BoxAssessment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "9 Box Assessments" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'assessment' %>
  </head>

  <body>
      <%= render 'layouts/navigation' %>
      <%= render 'shared/banners' %>
    <main role="main" class='container'>
      <div class='ie-main'>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>

    </main>
  </body>
</html>
